1) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

In [4]:
salary = int(input("enter salary = "))
yos = int(input("enter year of service = "))
if yos > 5 :
  bonus = 0.05 * salary
  print("Net bonus = ",bonus)
elif yos < 5:
  print("You are not elligible for bonus")

enter salary = 50000
enter year of service6
Net bonus =  2500.0


2) Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 17 eligible otherwise not eligible

In [6]:
age = int(input("Enter age "))
if age > 17 :
  print("You are eligible for voting")
else:
  print("you are not eligible ")

Enter age 12
you are not eligible


3) Write a program to check whether a number entered by user is even or odd.

In [9]:
num = int(input("Enter a number = "))
if num % 2 == 0 :
  print("Number is even")
else :
  print("Number is odd")

Enter a number = 4
Number is even

4) Write a program to check whether a number is divisible by 7 or not.
Show Answer

In [11]:
num = int(input("Enter a number = "))
if num % 7 == 0 :
  print("Number is divisible by 7")
else :
  print("Number is not divisible by 7")

Enter a number = 4
Number is not divisible by 7

5) Write a program to display
"Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [13]:
num = int(input("Enter a number = "))
if num % 5 == 0 :
  print("hello")
else :
  print("bye")

Enter a number = 25
hello

7) Write a program to display the last digit of a number.

In [18]:
num = int(input("Enter a number "))
ld = int(num%10)
print(ld)

Enter a number 54
4

9) Take values of length and breadth of a rectangle from user and print if it is square or rectangle.

In [20]:
lenght = int(input("Enter lenght = "))
breath = int(input("Enter breath = "))
if lenght == breath :
  print("Shape is square")
else :
  print("shape is rectangle")

Enter lenght = 10
Enter breath = 10
Shape is square

10) Take two int values from user and print greatest among them.

In [21]:
num1 = int(input("Enter  first number = "))
num2 = int(input("Enter second number = "))
if num1 > num2 :
  print("first number is greater = ",num1)
elif num1 < num2 :
  print ("second number is greater")

Enter  first number = 1
Enter second number = 2
second number is greater

11) A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

In [24]:
quant = int(input("Enter quantity = "))
tot= quant * 100
if tot > 1000 :
  dis = 0.1 * tot
  tc = tot - dis
  print("Total price = ",tot)
  print("Discout = ",dis)
  print("Total price after discount = ",tc)
else :
  print("Total price = ",tot)
  print("Discout = 0")
  print("Total price after discount = ",tot)

Enter quantity = 12
Total price =  1200
Discout =  120.0
Total price after discount =  1080.0

12) A school has following rules for grading system:

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [27]:
marks = int(input("Enter marks = "))
if marks < 25 :
  print("Grade = F")
elif marks > 25 and marks < 45 :
  print("Grade = E")
elif marks > 45 and marks < 50 :
  print("Grade = D")
elif marks > 50 and marks < 60 :
  print("Grade = C")
elif marks > 60 and marks < 80 :
  print("Grade = B")
elif marks > 80 :
  print("Grade = A")

Enter marks = 75
Grade = B

14)A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held

Number of classes attended.

And print

percentage of class attended

Is student is allowed to sit in exam or not.

In [32]:
ch = int(input("Enter the number of classes held = "))
ca = int(input("Enter the number of classes attended = "))
attend = (ca/ch)*100
print("Attendece percentage = ",attend)
if attend > 75 :
  print("You are allowed to sit in exam ")
else:
  print("You are not allowed to sit in exam ")

Enter the number of classes held = 50
Enter the number of classes attended = 45
Attendece percentage =  90.0
you are allowed to sit in exam

15) Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [33]:
ch = int(input("Enter the number of classes held = "))
ca = int(input("Enter the number of classes attended = "))
med = input("medical case (Y/N) = ")
attend = (ca/ch)*100
print("Attendece percentage = ",attend)
if attend > 75 :
  print("You are allowed to sit in exam ")
elif attend < 75 and med == 'Y':
  print("You are allowed to sit in exam ")
elif attend < 75 and med == 'N':
  print("You are not allowed to sit in exam ")

Enter the number of classes held = 50
Enter the number of classes attended = 30
medical case (Y/N) = Y
Attendece percentage =  60.0
You are allowed to sit in exam

16) Write a program to check if a year is leap year or not.

If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [14]:
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2005
2005 is not a leap year.

17) Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.

if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 40 then he may work in anywhere

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR"

In [3]:
age = int(input("Enter age = "))
gender = str(input("Enter gender (M/F) = "))
ms = str(input("Enter merital status (Y/N) = "))
if gender == 'F' :
  print("Work in urban area")
elif gender == 'M' and age > 20 and age < 40 :
  print ("Work anywhere")
elif gender == 'M' and age > 40 and age < 60 :
  print("Work in urban area")
else :
  print("ERROR")

Enter age = 30
Enter gender (M/F) = M
Enter merital status (Y/N) = Y
Work anywhere

6) Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
     Unit                                                     Price  
uptp 100 units                                             no charge
Next 200 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs.3500
(For example if input unit is 97 than total bill amount is Rs.0
(For example if input unit is 150 than total bill amount is Rs.750

In [8]:
units = int(input("Enter number of units = "))
if units <= 100:
 print("0")
elif units <= 300:
  price=(units - 100) * 5
  print(price)
else:
  price=(200 * 5) + (units - 300) * 10
  print(price)

Enter number of units = 150
250

13) Take input of age of 3 people by user and determine oldest and youngest among them.

In [12]:
per1=int(input("Enter age  of person 1 ="))
per2=int(input("Enter age  of person 2 ="))
per3=int(input("Enter age  of person 3 ="))

if per1 > per2 and per1 > per3:
  print("persion 1 is oldest")
  if per2 < per3 :
    print("person 2 is youngest")
  else:
    print("person 3 is youngest ")
if per2 > per1 and per2 > per3:
  print("persion 2 is oldest")
  if per1>per3:
    print("person 3 is youngest")
  else :
    print("person 1 is youngest")
if per3 > per1 and per3 > per2:
  print("persion 3 is oldest")
  if per1 > per2:
    print("person 2 is youngest ")
  else :
    print("person 1 is youngest ")

Enter age  of person 1 =20
Enter age  of person 2 =45
Enter age  of person 3 =18
persion 2 is oldest
person 3 is youngest